<h2 id="title">Jacki uses Ember.js</h2>
<h3> This is a teaching tool.</h3>
<hr>
Enter the name of your protagonist.
<p>
{{input value=name}}</p>
<p>
Write a story about {{name}} in the box below.</p>
<p><textarea>Enter text here.
</textarea></p>
<mark>Include the following:</mark>
<ul>
	<li>Setting</li>
	<li>Conflict</li>
	<li>Resolution</li>
	<li> The quote <q>To be or not to be</q></li>
</ul>
<hr>
<p>
More information about Jacki can be found here: <strong><a href="www.jackiandnicolo.com" target="_blank">Jacki and Nicolo</a></strong></p>
